html {
    background-color: #cbe6ff;
}

h1 {
    color:rgb(44, 44, 94);
}

h2 {
    color:rgb(44, 44, 94);
}

.navbar {
    background-color: rgb(44, 44, 94);
    overflow: hidden;
}

.navbar a {
    float: left;
    color: #6eb9ff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: rgb(36, 172, 138);
    color: black;
}

.navbar a.active {
    background-color: #5b3d6d;
    color: white;
}

.file-name {
    display:none;
}

.read-only {
    width: 50%;
    background-color: #ffffff;
    color:rgb(44, 44, 94);
    padding: 3px 3px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 5px solid rgb(44, 44, 94);
    border-radius: 5px;
    text-align: start;
    resize: none;
}

.edit-title {
    width: 50%;
    background-color: #ffffff;
    color:rgb(44, 44, 94);
    padding: 3px 3px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 5px solid rgb(44, 44, 94);
    border-radius: 5px;
    text-align: start;
    font-size: 24px;
}

.edit-body {
    width: 50%;
    height: 350px;
    background-color: #ffffff;
    color:rgb(44, 44, 94);
    padding: 3px 3px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 5px solid rgb(44, 44, 94);
    border-radius: 5px;
    text-align: start;
}

.edit-title:focus {
    border: 5px solid #a454d3;
}

.edit-body:focus {
    border: 5px solid #a454d3;
}

input[type=submit] {
    border: none;
    color:#6eb9ff;
    background-color: rgb(44, 44, 94);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: rgb(36, 172, 138);
    color: black;
}

button {
    border: none;
    color:#6eb9ff;
    background-color: rgb(44, 44, 94);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(36, 172, 138);
    color: black;
}

label {
    color: rgb(44, 44, 94);
    font-size: 32px;
    font-style: bold;
}
